[submodule "lib/nitro"]
	path = lib/nitro
	url = https://github.com/tud-zih-energy/nitro.git
[submodule "lib/asmjit"]
	path = lib/asmjit
	url = https://github.com/asmjit/asmjit.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json.git
[submodule "lib/cxxopts"]
	path = lib/cxxopts
	url = https://github.com/tud-zih-energy/FIRESTARTER.git
[submodule "examples/ScoreP_Tracing/scorep_cmake"]
	path = examples/ScoreP_Tracing/scorep_cmake
	url = https://github.com/score-p/scorep_cmake.git
