[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ipython = "*"
jupyter = "*"
pandas = "*"
seaborn = "*"
numpy = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
